---
---
<div class="nav-links">
  <a class="HeaderP" href="/">Inicio</a>
  <a class="HeaderPink" href="/about">Sobre mi</a>
  <a class="HeaderBlue" href="/blog">Blog</a>
  <a class="HeaderP" href="/tags/">Categorías</a>
</div>