---
const { platform, username } = Astro.props;
---
<a class="Footer" href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
    a {
      padding: 1.5rem 1rem;
      text-decoration:none;
      border-radius: 20%;
    }
  </style>